@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Segundo Examen Parcial</h4>
    <h4>2011vs601 Luis David Velado Solano</h4>
</div>

<div class="gallery">
    <img src="https://2011vs601parcial2.blob.core.windows.net/gallery/datacenter.jpg" alt="data center" />
    <img src="https://2011vs601parcial2.blob.core.windows.net/gallery/network.jpg" alt="network" />
    <img src="https://2011vs601parcial2.blob.core.windows.net/gallery/os.jpg" alt="operative systems" />
    <img src="https://2011vs601parcial2.blob.core.windows.net/gallery/space.jpg" alt="space" />
    <img src="https://2011vs601parcial2.blob.core.windows.net/gallery/thunder.jpg" alt="thunder" />
</div>